* {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
  font-family: "SF Pro Text", sans-serif;
}

.logo-img {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  border-bottom: 2px solid #00000040;

  img {
    width: 150px;
  }
}

.header.mobile {
  padding: 0.5rem 0.5rem;

  img {
    width: 90px;
  }
}

:host ::ng-deep {
  .header.mobile {
    .p-dropdown {
      border: none;
      background: transparent;
      box-shadow: none;

      &:not(.p-disabled).p-focus {
        box-shadow: none;
        border-color: transparent;
      }

      .p-dropdown-label {
        padding: 0;
      }

      .p-dropdown-trigger {
        width: 2rem;
        right: 0.5rem;
      }
    }
  }
}

.main-container {
  margin: auto !important;
}

//toast
:host ::ng-deep {
  .p-datepicker {
    background-color: #fff;

    .p-datepicker-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 10px;
      border: 1px solid #00000030;
    }
  }

  .p-button-icon-only {
    border: none;
  }
  .imported-icon {
    width: 20px;
    height: 20px;
  }

  .rounded-full {
    border-radius: 100%;
  }

  /* Personalizzazione globale del toast di successo */
  .p-toast-message-success {
    background: white;
    box-shadow: 0px 0px 15px #cacaca;
    border: solid #0bd18a;
    border-width: 0 0 0 20px;
    color: #44486d;

    .p-toast-summary {
      margin-bottom: 0.5rem;
      color: #0bd18a;
    }
  }
  .p-toast-message-error {
    background: white;
    box-shadow: 0px 0px 15px #cacaca;
    border: solid #e11f1f;
    border-width: 0 0 0 20px;
    color: #44486d;

    .p-toast-summary {
      margin-bottom: 0.5rem;
      color: #e11f1f;
    }
  }

  .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #44486d;
  }

  .p-toast-message-text {
    margin: 0 0 0 1rem;
  }
  .p-toast-message-content {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
  }

  .p-toast-detail {
    color: #494747; /* Colore del testo nelle due sezioni */
  }
}

.p-fl-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  background-color: #fff;
  z-index: 1000;
}

.p-fl-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  z-index: 10000;
}
