<p-dialog
  [modal]="true"
  [(visible)]="showModal"
  [position]="'center'"
  [style]="{ width: '50rem', maxWidth: '95vw' }"
  [draggable]="false"
  [closable]="true"
  (onHide)="onModalHide()"
  [maximizable]="true"
  (onMaximize)="handleMaximize($event)"
  styleClass="event-dialog"
>
  <!-- Header con dropdown e pulsanti -->
  <ng-template pTemplate="header">
    <div
      class="dialog-header p-1 m-0 flex align-items-center justify-content-between border-bottom-1 border-300"
    >
      <div class="flex align-items-center">
        <i class="pi pi-calendar mr-2 ml-2"></i>
        <app-custom-dropdown
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          (valueChanged)="updateStatus($event)"
          [isImage]="true"
          [icon]="selectedStatus.icon"
          optionLabel="label"
          styleClass="dropdown-lg"
          placeholder="Assente"
          [style]="{
            'min-width': '170px'
          }"
        >
        </app-custom-dropdown>
      </div>
      <div class="flex align-items-center gap-2">
        <app-custom-button
          *ngIf="isMaximized"
          styleClass="p-button-rounded p-button-secondary"
          label="Duplica"
          icon="pi pi-clone"
        >
        </app-custom-button>
        <button
          pButton
          class="p-button-rounded p-button-secondary"
          icon="pi pi-undo"
          label="Annulla"
          (click)="onModalHide()"
        ></button>
        <button
          pButton
          class="p-button-rounded p-button-primary mr-1"
          icon="pi pi-download"
          label="Salva"
          (click)="saveEvent()"
        ></button>
      </div>
    </div>
  </ng-template>

  <div
    [ngClass]="{
      'maximized-class': isMaximized
    }"
  >
    <div class="p-3">
      <!-- Sezione Paziente -->
      <div class="mb-3">
        <div class="flex align-items-center mb-3">
          <i class="pi pi-user-plus mr-2 ml-2"></i>
          <input
            type="text"
            pInputText
            [(ngModel)]="patientName"
            placeholder="Inserisci paziente"
            class="w-full text-4xl patient-name opacity-50"
          />
        </div>

        <div class="flex justify-content-between mb-3">
          <div
            class="flex justify-content-between align-items-center tablet-dropdowns-direction"
          >
            <div class="flex justify-content-between align-items-center">
              <i class="pi pi-user mr-2 ml-2"></i>
              <div class="pl-3 dropdown-min-width">
                <app-custom-dropdown
                  [options]="patients"
                  [disabled]="doctorDisabled"
                  optionLabel="name"
                  [isImage]="false"
                  placeholder="Seleziona operatore"
                  [isTextOnly]="true"
                  [(ngModel)]="selectedPatient"
                  styleClass="w-full dropwdown-content"
                  (valueChanged)="onPatientChange($event)"
                  filterBy="name"
                ></app-custom-dropdown>
              </div>
            </div>
            <div
              class="flex justify-content-between align-items-center chair-align"
            >
              <img
                class="chair-img"
                src="../../../../assets/layout/images/office-chair.svg"
                alt="Chair Icon"
              />
              <div class="pl-3 dropdown-min-width">
                <app-custom-dropdown
                  [options]="chairs"
                  optionLabel="name"
                  placeholder="Seleziona poltrona"
                  [isImage]="false"
                  [isTextOnly]="true"
                  [(ngModel)]="selectedChair"
                  styleClass="w-full"
                  (valueChanged)="onChairChange($event)"
                  filterBy="name"
                ></app-custom-dropdown>
              </div>
            </div>
          </div>
          <div class="flex justify-content-start pl-3 vertical-align-phone">
            <div class="flex justify-content-start pl-3 align-items-center">
              <app-custom-dropdown
                [options]="phoneOptions"
                optionLabel="label"
                [isImage]="false"
                icon="pi pi-phone mr-2 text-500"
                [(ngModel)]="selectedPhoneType"
                styleClass="w-full phone-icon"
                (onChange)="onPatientChange($event)"
              ></app-custom-dropdown>
              <app-custom-label
                text="Inserisci Contatto"
                textClass="text-l mr-3 opacity-50"
              >
              </app-custom-label>
            </div>
          </div>
        </div>
      </div>

      <p-divider />

      <!-- Sezione Data e Ora - tutto su una linea -->
      <div class="mb-4">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-clock mr-2 ml-2"></i>
          <div class="flex align-items-center gap-2 pl-2">
            <p-calendar
              [(ngModel)]="selectedDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              styleClass="flex-grow-1"
              [appendTo]="'body'"
              (onSelect)="updateEventDates()"
              [style]="{ width: '160px' }"
              inputId="icondisplay"
            ></p-calendar>

            <p-dropdown
              [options]="timeSlots"
              [(ngModel)]="selectedStartTime"
              placeholder="08:00"
              [appendTo]="'body'"
              (onChange)="updateEventDates()"
            ></p-dropdown>

            <span class="text-xl font-medium">-</span>

            <p-dropdown
              [options]="timeSlots"
              [(ngModel)]="selectedEndTime"
              placeholder="09:00"
              [appendTo]="'body'"
              (onChange)="updateEventDates()"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <!-- Sezione Prestazione Aggiuntiva -->
      <div class="mb-4">
        <div class="flex align-items-center mb-3">
          <i class="pi pi-plus-circle mr-2 ml-2"></i>
          <div class="pl-2 flex-auto">
            <input
              type="text"
              pInputText
              [(ngModel)]="serviceName"
              placeholder="Inserisci prestazione"
              class="w-full border-0"
            />
          </div>
        </div>
      </div>

      <p-divider />

      <!-- Sezione Note -->
      <div *ngIf="!isMaximized" class="mb-4 flex flex-row">
        <div class="flex align-items-start mb-2">
          <i class="pi pi-file mr-2 ml-2"></i>
        </div>
        <div class="flex w-full align-items-center mb-2">
          <div class="pl-2 flex-auto">
            <textarea
              pInputTextarea
              [(ngModel)]="notes"
              rows="5"
              class="w-full"
              placeholder="Inserisci note"
            ></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="isMaximized" class="flex flex-row">
        <div class="flex w-full align-items-center">
          <div class="flex-auto">
            <div
              class="flex justify-content-start align-items-center p-2 note-container"
            >
              <img
                src="../../../assets/layout/images/clipboard.svg"
                class="imported-icon mr-2"
              />
              <h3 class="uppercase text-sm font-bold m-0">Note</h3>
            </div>
            <div
              class="notes-section border-1 border-100 border-round-bottom p-3"
            >
              <!-- Alert Tags -->
              <div class="flex flex-wrap gap-2 mb-3 align-items-center">
                <i class="pi pi-info-circle mr-2 text-500"></i>
                <p-dropdown
                  placeholder="Aggiungi alert dalla lista"
                  [options]="alertOptions"
                  optionLabel="label"
                  [(ngModel)]="selectedAlert"
                  styleClass="w-full"
                ></p-dropdown>
              </div>

              <textarea
                pInputTextarea
                [(ngModel)]="notes"
                [rows]="window.innerWidth <= 1260 ? 10 : 12"
                class="w-full"
                placeholder="Inserisci note"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isMaximized" class="h-full flex align-items-center flex-column">
      <!-- Calendar Navigation Controls -->
      <div
        class="calendar-navigation flex align-items-center gap-2 p-3 pt-0 pb-0"
      >
        <app-custom-button
          styleClass="custom-nav-button border-round-3xl p-2 p-button-secondary"
          (onClick)="goToday()"
          icon="pi pi-calendar"
        >
        </app-custom-button>
        <div class="flex align-items-center gap-2">
          <app-custom-button
            styleClass="custom-nav-button p-2 p-button-secondary no-icon"
            icon="pi pi-chevron-left"
            (onClick)="goPrev()"
          >
          </app-custom-button>
          <p-calendar
            [(ngModel)]="selectedCalendarDate"
            dateFormat="dd MM yy"
            class="calendar-lg"
            [showIcon]="false"
            appendTo="body"
            (ngModelChange)="onSetCalendarDate()"
            inputId="dialogCalendarDisplay"
          />
          <app-custom-button
            styleClass="custom-nav-button p-2 p-button-secondary"
            icon="pi pi-chevron-right"
            (onClick)="goNext()"
          >
          </app-custom-button>
        </div>
      </div>
      <full-calendar
        #dialogCalendar
        [options]="calendarOptions"
      ></full-calendar>
    </div>
  </div>
</p-dialog>
